<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="C:\MIDRetail\MIDSettings.config">
		<!-- ========================================= -->
		<!-- ========================================= -->
		<!-- STORE BIN VIEWER STARTUP SETTINGS -->
		<!-- ========================================= -->
		<!-- ========================================= -->

		<!-- Common settings can be found in MIDSettings.config.  To override the value in MIDSettings.config -->
		<!-- simply include the key with the new value in this config file. -->

		<!-- ====================== -->
		<!-- Services Configuration -->
		<!-- ====================== -->

		<!-- KEY					DESCRIPTION -->
		<!-- ===                    =========== -->

		<!-- DisplayDate			The date that will be preloaded into the form at startup. -->
		<!-- DisplayNode			The merchandise node ID that will be preloaded into the form at startup. -->
		<!-- ColorFilter			The color code ID that will be preloaded into the form at startup. -->
		<!-- SizeFilter				The size code ID that will be preloaded into the form at startup. -->
		<!-- VariableFilter			The variable that will be preloaded into the form at startup. -->
		<!-- StoreFilter			The store filter list that will be preloaded into the form at startup. -->

		<add key="DisplayDate" value=""/>
		<add key="DisplayNode" value=""/>
		<add key="ColorFilter" value=""/>
		<add key="SizeFilter" value=""/>
		<add key="VariableFilter" value=""/>
		<add key="StoreFilter" value=""/>

	</appSettings>
</configuration>
