<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- ============================ -->
		<!-- ============================ -->
		<!-- Configuration Installer SETTINGS -->
		<!-- ============================ -->
		<!-- ============================ -->

		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- KeyFile					The name of the licence key file -->
		<!-- Allocation					This identifies if allocation is installed -->
		<!-- AlExp						Expiration days if trial.  Use 0 if permanent -->
		<!-- Size						This identifies if size is installed -->
		<!-- SzExp						Expiration days if trial.  Use 0 if permanent -->
		<!-- Planning					This identifies if planning is installed -->
		<!-- PlExp						Expiration days if trial.  Use 0 if permanent -->
		<!-- Assortment					This identifies if assortment planning is installed -->
		<!-- AsExp						Expiration days if trial.  Use 0 if permanent -->
    <!-- GroupAllocation		This identifies if Group Allocation is installed -->
    <!-- GaExp						Expiration days if trial.  Use 0 if permanent -->
		<!-- Master						This identifies if master header is installed -->
		<!-- MasterExp					Expiration days if trial.  Use 0 if permanent -->
		
		<add key="KeyFile" value="KeyFile.txt"/>
		<add key="Allocation" value="true"/>
		<add key="AlExp" value="0"/>
		<add key="Size" value="true"/>
		<add key="SzExp" value="0"/>
		<add key="Planning" value="true"/>
		<add key="PlExp" value="0"/>
		<add key="Assortment" value="false"/>
		<add key="AsExp" value="0"/>
    <add key="GroupAllocation" value="false"/>
    <add key="GaExp" value="0"/>
		<add key="Master" value="false"/>
		<add key="MasterExp" value="0"/>
			
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
