<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <system.runtime.remoting>
    <customErrors mode="off" />
  </system.runtime.remoting>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <client>
      <endpoint name="ROWebConsoleServiceClientEndpoint" address="" binding="netTcpBinding" bindingConfiguration="Logility.ROServices.ROWebConsoleServiceBinding" contract="Logility.ROWeb.IROWebConsoleService" behaviorConfiguration="Logility.ROServices.ROWebConsoleServiceBehavior">
      </endpoint>
      <endpoint name="Logility.ROServices.ROWebJobService" address="" binding="netTcpBinding" bindingConfiguration="Logility.ROServices.ROWebJobService" contract="Logility.ROServices.IROWebJobService">
      </endpoint>
    </client>
    <bindings>
      <netTcpBinding>
        <!--<binding name ="Logility.ROServices.ROWebJobServiceBinding"
          sendTimeout="00:20:00"
          receiveTimeout="00:20:00"
          closeTimeout="00:05:00"
          openTimeout="00:05:00"
          maxConnections="10"
        >-->
        <binding name="Logility.ROServices.ROWebJobServiceBinding" sendTimeout="00:20:00" receiveTimeout="00:20:00" closeTimeout="00:05:00" openTimeout="00:05:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="128" maxArrayLength="16384" maxStringContentLength="8388608" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <message clientCredentialType="None" />
            <transport protectionLevel="None" clientCredentialType="None" />
          </security>
          <reliableSession inactivityTimeout="00:20:00" />
        </binding>
        <binding name="Logility.ROServices.ROWebConsoleServiceBinding" sendTimeout="00:20:00" receiveTimeout="00:20:00" closeTimeout="00:05:00" openTimeout="00:05:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="128" maxArrayLength="16384" maxStringContentLength="8388608" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="Logility.ROServices.ROWebJobService" sendTimeout="00:20:00" receiveTimeout="00:20:00" closeTimeout="00:05:00" openTimeout="00:05:00">
                    <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Logility.ROServices.ROWebJobServiceBehavior" name="Logility.ROServices.ROWebJobService">
        <!--<endpoint address="" binding="wsHttpBinding" contract="Service.JobWcfLibrary.IROWebJobService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>-->
        <endpoint name="Logility.ROServices.ROWebJobService" address="" binding="netTcpBinding" bindingConfiguration="Logility.ROServices.ROWebJobServiceBinding" contract="Logility.ROServices.IROWebJobService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!--<endpoint address="" binding="basicHttpBinding" contract="Service.JobWcfLibrary.IROWebJobService" />-->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8081/MIDRetailJobService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Logility.ROServices.ROWebJobServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false" />
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Logility.ROServices.ROWebConsoleServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <appSettings file="C:\Logility\RO\MIDSettings.config">
    <add key="ROServerType" value="Single" />
    <add key="SecondaryServers" value="" />
    <add key="Port" value="9100-9150" />
    <add key="StaleConnectionTimeoutSeconds" value="180" /> 
    <add key="ROWebService" value="C:\Logility\RO\RO Web Service\ROWebHost.exe" />
  </appSettings>
  <log4net>

    <logger name="Job Service">
      <level value="INFO" />
      <!--<appender-ref ref="RollingLogFileAppender"/>-->
    </logger>

    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Logility\RO\Job Service\JobServiceLog.txt" />
      <!-- Log file output file -->
      <appendToFile value="false" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="500KB" />
      <!-- Log size -->
      
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level 
		The following levels are defined in order of increasing priority: 
		ALL, DEBUG,INFO, WARN, ERROR, FATAL, OFF -->
    <root>
      <!--<level value="ALL" />-->
      <level value="DEBUG" />
      <!--<level value="INFO" />-->
      <!--<level value="WARN" /> -->
      <!--<level value="ERROR" /> -->
      <!--<level value="FATAL" /> -->
      <!--<level value="OFF" /> -->
      <appender-ref ref="RollingLogFileAppender" />
      <!--Multiple appenders can be added here. The same in the next section -->
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
