<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<customErrors mode="off"/>
	</system.runtime.remoting>

	<appSettings>
		<!-- ================ -->
		<!-- ================ -->
		<!-- STARTUP SETTINGS -->
		<!-- ================ -->
		<!-- ================ -->

		<!-- =============================== -->
		<!-- Hierarchy Service Configuration -->	
		<!-- =============================== -->
		
		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- MyPort						Indicates the port where the Hierarchy Server is communicating. -->
		<!-- ReaderLockTimeOut			The amount of time in milliseconds to hold a read lock on data -->
		<!-- WriterLockTimeOut			The amount of time in milliseconds to hold a write lock on data -->
		
		<add key="MyPort" value="8088"/>

		<!-- ==================== -->
		<!-- ==================== -->
		<!-- ==================== -->
		<!-- DATABASE CONNECTIONS -->
		<!-- ==================== -->
		<!-- ==================== -->
	
		<!-- ========== -->
		<!-- SQL Server -->
		<!-- ========== -->

		<!--<add key="ConnectionString" value="server=207.227.70.197;database=middev2000;uid=mrsadmin;pwd=nimdasrm;"/>-->

	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
