<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<customErrors mode="off"/>
	</system.runtime.remoting>

	<appSettings file="C:\Logility\RO\MIDSettings.config">
		<!-- ================ -->
		<!-- ================ -->
		<!-- STARTUP SETTINGS -->
		<!-- ================ -->
		<!-- ================ -->
		
		<!-- Common settings can be found in MIDSettings.config.  To override the value in MIDSettings.config -->
		<!-- simply include the key with the new value in this config file. -->

		<!-- =============================== -->
		<!-- Scheduler Service Configuration -->	
		<!-- =============================== -->
		
		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- MyPort						Indicates the port where the Scheduler Server is communicating. -->
		<!-- ReaderLockTimeOut			The amount of time in milliseconds to hold a read lock on data -->
		<!-- WriterLockTimeOut			The amount of time in milliseconds to hold a write lock on data -->
		<!-- DatabaseCommandTimeOut		Optional - The time (in seconds) to wait for the command to execute. The default is 30 seconds. -->
		<!-- DatabaseRetryCount			Optional - The number of times to retry a database call before failing the call. The default is 4 times.-->
		<!--							This can be set to 0 if you do not want the application to attempt to retry the call. -->
		<!-- DatabaseRetryInterval		Optional - The time (in milliseconds) to wait between retry attempts. The default is 2000 (2 seconds). -->
		<!-- ScheduleScanInterval		The amount of time in milliseconds between passes through the schedule -->
		<!-- CheckForTerminateInterval	The amount of time in milliseconds before checking for termination while waiting in the scan interval -->
		<!-- MaximumConcurrentProcesses	The maximum number of processes (jobs/tasklists) that will be run concurrently. 0 indicates unlimited.  The default is 0 (unlimited) -->
		<!-- StartedProcessWindowStyle	The style of window for the started processes.  Can be "Normal", "Maximized", "Minimized", or "Hidden".  Will not apply when run as a service. -->
		<!-- <Process>ExecutablePath	The location of the executable for each <Process> -->
		<!-- AuditLoggingLevel			Optional - Identifies the message level at which logging is to begin. Valid levels are listed below. -->
		<!--							The default is Edit. -->
		<!--							Debug -->
		<!--							Information -->
		<!--							Edit -->
		<!--							Warning -->
		<!--							Error -->
		<!--							Severe -->
		
		<add key="MyPort" value="8091"/>
		<add key="ScheduleScanInterval" value="10000"/>
		<add key="CheckForTerminateInterval" value="2000"/>
		<add key="MaximumConcurrentProcesses" value="0"/>
		<add key="StartedProcessWindowStyle" value="Normal"/>
		<add key="ForecastExecutablePath" value="C:\Logility\RO\Batch\PlanForecasting.exe"/>
		<add key="AllocateExecutablePath" value="C:\Logility\RO\Batch\AllocationScheduler.exe"/>
		<add key="RollupExecutablePath" value="C:\Logility\RO\Batch\Rollup.exe"/>
		<add key="SizeCurveGenerateExecutablePath" value="C:\Logility\RO\Batch\SizeCurveGenerate.exe"/>
		<add key="PurgeExecutablePath" value="C:\Logility\RO\Batch\Purge.exe"/>
		<add key="RelieveIntransitExecutablePath" value="C:\Logility\RO\Batch\RelieveIntransit.exe"/>
		<add key="BuildPackCriteriaLoadExecutablePath" value="C:\Logility\RO\Batch\BuildPackCriteriaLoad.exe"/>
		<add key="ColorCodesLoadExecutablePath" value="C:\Logility\RO\Batch\ColorCodesLoad.exe"/>
    <add key="HeaderReconcileExecutablePath" value="C:\Logility\RO\Batch\HeaderReconcile.exe"/>
    <add key="HeaderLoadExecutablePath" value="C:\Logility\RO\Batch\HeaderLoad.exe"/>
		<add key="HierarchyLoadExecutablePath" value="C:\Logility\RO\Batch\HierarchyLoad.exe"/>
		<add key="HistoryPlanLoadExecutablePath" value="C:\Logility\RO\Batch\HistoryPlanLoad.exe"/>
		<add key="SizeCodesLoadExecutablePath" value="C:\Logility\RO\Batch\SizeCodesLoad.exe"/>
		<add key="SizeCurveLoadExecutablePath" value="C:\Logility\RO\Batch\SizeCurveLoad.exe"/>
		<add key="StoreLoadExecutablePath" value="C:\Logility\RO\Batch\StoreLoad.exe"/>
		<add key="SizeDayToWeekSummaryExecutablePath" value="C:\Logility\RO\Batch\SizeDayToWeekSummary.exe"/>
		<add key="SizeConstraintsLoadExecutablePath" value="C:\Logility\RO\Batch\SizeConstraintsLoad.exe"/>
		<add key="ComputationDriverExecutablePath" value="C:\Logility\RO\Batch\SizeConstraintsLoad.exe"/>
    <add key="ChainSetPercentCriteriaLoadExecutablePath" value="C:\Logility\RO\Batch\ChainSetPercentages.exe"/>
    <add key="PushToBackStockLoadExecutablePath" value="C:\Logility\RO\Batch\PushToBackStock.exe"/>
    <add key="DailyPercentagesCriteriaLoadExecutablePath" value="C:\Logility\RO\Batch\DailyPercentages.exe"/>
    <add key="StoreEligibilityCriteriaLoadExecutablePath" value="C:\Logility\RO\Batch\StoreEligibilityLoad.exe"/>
    <add key="VSWCriteriaLoadExecutablePath" value="C:\Logility\RO\Batch\VSWLoad.exe"/>

	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
