<configuration>
	<appSettings file="C:\Program Files\MID, Inc\MIDSettings.config">
		<!-- Startup Settings: -->
		
		<!-- Common settings can be found in MIDSettings.config.  To override the value in MIDSettings.config -->
		<!-- simply include the key with the new value in this config file. -->

		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- ControlServer				Indicates the IP Address and port where the Control Server is listening.  The Control -->
		<!--							Server will return a Client, Store, Hierarchy, and Application Server where remote -->
		<!--							sessions can be created.  If this key is not assigned, all sessions will be created -->
		<!--							locally (in the address space of the client) -->
		<!-- LocalStoreServer			"True" or "Yes" indicate the Store Session is to be created locally -->
		<!-- LocalHierarchyServer		"True" or "Yes" indicate the Hierarchy Session is to be created locally -->
		<!-- LocalApplicationServer		"True" or "Yes" indicate the Application Session is to be created locally -->
		<!-- ConnectionString			Database connection string -->
		<!-- User						The ID of the user to log into the application with -->
		<!-- Password					The password of the user -->
		<!-- InputFile					The directory and name of the input transactions -->
		<!-- Delimiter					If the InputFile is delimited, indicates the character used to seperate -->
		<!--							each field in the transaction. -->
		<!-- CommitLimit				The commitlimit for the database activity -->
		
	</appSettings>
</configuration>
