<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="C:\MIDRetail\MIDSettings.config">
		<!-- ===================== -->
		<!-- ===================== -->
		<!-- HeaderExpand SETTINGS -->
		<!-- ===================== -->
		<!-- ===================== -->

    <!-- KEY						  DESCRIPTION -->
		<!-- ===              =========== -->
		<!-- HeadersToExpand  A list of headers to expand separated by a semicolin (;) -->

  </appSettings>
</configuration>
