<?xml version="1.0" encoding="utf-8"?>
<configuration>

	
	
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler"/>
	</configSections>
	<appSettings file="C:\MIDRetail\MIDSettings.config">
		<add key="CustomBulkTableName" value="MID_alloc_bulk"/>
		<add key="CustomPackTableName" value="MID_alloc_pack"/>
		<add key="HeaderReleaseFilePath" value="C:\Releases"/>
	</appSettings>
	<log4net>

		<logger name="Activity">
			<level value="INFO"/>
			<!--<appender-ref ref="RollingLogFileAppender"/>-->
		</logger>
		<logger name="Errors">
			<level value="ALL"/>
			<appender-ref ref="ErrorLogFileAppender"/>
		</logger>
		
		<!-- Define some output appenders -->
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\MIDData\Logs\HeaderAllocationLoadLog.txt"/>
			<appendToFile value="false"/>
			<maxSizeRollBackups value="30"/>
			<maximumFileSize value="50KB"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline"/>
			</layout>
		</appender>

		<appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\MIDData\Logs\HeaderAllocationLoadErrorLog.txt"/>
			<appendToFile value="false"/>
			<maxSizeRollBackups value="30"/>
			<maximumFileSize value="50KB"/>
			<rollingStyle value="Size"/>
			<staticLogFileName value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger - %message%newline"/>
			</layout>
		</appender>




		<!-- Setup the root category, add the appenders and set the default level 
		The following levels are defined in order of increasing priority: 
		ALL, DEBUG,INFO, WARN, ERROR, FATAL, OFF -->
		<root>
			<!--<level value="ALL" />-->
			<level value="DEBUG"/> 
			<!--<level value="INFO" />--> 
			<!--<level value="WARN" /> -->
			<!--<level value="ERROR" /> -->
			<!--<level value="FATAL" /> -->
			<!--<level value="OFF" /> -->
			<appender-ref ref="RollingLogFileAppender"/>
			<!--Multiple appenders can be added here. The same in the next section -->
		</root>
	</log4net>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
