CREATE TABLE [dbo].[alloc_bulk](
	[HEADER_ID] [varchar](32) NOT NULL,
	[SIZE_CODE] [varchar](10) NOT NULL,
	[STORE_ID] [varchar](50) NOT NULL,
	[QTY] [int] NOT NULL,
 CONSTRAINT [PK_alloc_bulk] PRIMARY KEY CLUSTERED 
(
	[HEADER_ID] ASC,
	[SIZE_CODE] ASC,
	[STORE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
