CREATE TABLE [dbo].[alloc_pack](
	[HEADER_ID] [varchar](32) NOT NULL,
	[PACK_ID] [varchar](30) NOT NULL,
	[STORE_ID] [varchar](50) NOT NULL,
	[NO_OF_PACKS] [int] NOT NULL,
 CONSTRAINT [PK_alloc_pack] PRIMARY KEY CLUSTERED 
(
	[HEADER_ID] ASC,
	[PACK_ID] ASC,
	[STORE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
