<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- ========================== -->
		<!-- ========================== -->
		<!-- CreateEventSource SETTINGS -->
		<!-- ========================== -->
		<!-- ========================== -->

    <!-- This utility must be run as administrator -->

    <!-- KEY						  DESCRIPTION -->
		<!-- ===              =========== -->
		<!-- EventSourceNames A list of source names to create separated by a semicolin (;) -->

    <add key="EventSourceNames" value="MIDRetail;AllocationScheduler;MIDBatchOnlyMode;MIDColorCodesLoad;MIDConvertFilters;MIDAudit;MIDHeaderLoad;MIDHierarchyLoad;MIDHistoryPlanLoad;
         PlanForecasting;MIDPurge;MIDRelieveIntransit;MIDRollup;MIDExecuteJob;MIDSizeCodesLoad;MIDSizeCurveLoad;MIDStoreLoad;MIDSizeConstraintsLoad;
         MIDComputationDriver;SizeCurveGenerate;HeaderExpand;SizeDayToWeekSummary;StoreBinViewer;MIDBuildPackCriteriaLoad;RelieveHeaders;HeaderAllocationLoad;
         MIDApplicationService;MIDControlService;MIDHeaderService;MIDHierarchyService;MIDSchedulerService;MIDStoreService;MIDForecasting;
         MIDStoreVariableHistoryBin;MIDGarbageCollectionService;MRSMID.MRS.StoreLoad.StoreLoadWorker;MIDReBuildIntransit;MIDHierarchyReclass;MIDChainSetPercentCriteriaLoad;
         MIDDailyPercentagesCriteriaLoad;PushToBackStock;MIDDetermineHierarchyActivity;MIDStoreEligibilityCriteriaLoad;MIDVSWCriteriaLoad;MIDStoreDelete;MIDHeaderReconcile;MIDBatchComp"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
