<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="C:\MIDRetail\MIDSettings.config">
    <!-- =========================== -->
    <!-- =========================== -->
    <!-- STORE ELIGIBILITY STARTUP SETTINGS -->
    <!-- =========================== -->
    <!-- =========================== -->

    <!-- Common settings can be found in MIDSettings.config.  To override the value in MIDSettings.config -->
    <!-- simply include the key with the new value in this config file. -->

    <!-- ====================== -->
    <!-- Services Configuration -->
    <!-- ====================== -->

    <!-- KEY						DESCRIPTION -->
    <!-- ===                        =========== -->
    <!-- InputFile					The directory and name of the input transactions -->
    <!-- Delimiter					If the InputFile is delimited, indicates the character used to separate -->
    <!--							each field in the transaction. -->
    <!-- CommitLimit				The commitlimit for the database activity -->
    <!-- ReaderLockTimeOut			The amount of time in milliseconds to hold a read lock on data -->
    <!-- WriterLockTimeOut			The amount of time in milliseconds to hold a write lock on data -->
    <!-- DatabaseCommandTimeOut		Optional - The time (in seconds) to wait for the command to execute. The default is 30 seconds. -->
    <!-- DatabaseRetryCount			Optional - The number of times to retry a database call before failing the call. The default is 4 times.-->
    <!--							This can be set to 0 if you do not want the application to attempt to retry the call. -->
    <!-- DatabaseRetryInterval		Optional - The time (in milliseconds) to wait between retry attempts. The default is 2000 (2 seconds). -->
    <!-- AuditLoggingLevel			Optional - Identifies the message level at which logging is to begin. Valid levels are listed below. -->
    <!--							The default is Edit. -->
    <!--							Debug -->
    <!--							Information -->
    <!--							Edit -->
    <!--							Warning -->
    <!--							Error -->
    <!--							Severe -->

    <add key="InputFile" value="C:\MIDRetail\Batch\transactions\StoreEligibilitySample.xml"/>
    <add key="Delimiter" value=","/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
