<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="C:\Logility\RO\MIDSettings.config">
		<!-- ============================ -->
		<!-- ============================ -->
		<!-- HEADER LOAD STARTUP SETTINGS -->
		<!-- ============================ -->
		<!-- ============================ -->

		<!-- Common settings can be found in MIDSettings.config.  To override the value in MIDSettings.config -->
		<!-- simply include the key with the new value in this config file. -->

		<!-- ====================== -->
		<!-- Services Configuration -->
		<!-- ====================== -->

		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- ControlServer				Indicates the IP Address and port where the Control Server is listening.  The Control -->
		<!--							Server will return a Client, Store, Hierarchy, and Application Server where remote -->
		<!--							sessions can be created.  If this key is not assigned, all sessions will be created -->
		<!--							locally (in the address space of the client) -->
		<!-- LocalStoreServer			"True" or "Yes" indicate the Store Session is to be created locally -->
		<!-- LocalHierarchyServer		"True" or "Yes" indicate the Hierarchy Session is to be created locally -->
		<!-- LocalApplicationServer		"True" or "Yes" indicate the Application Session is to be created locally -->
		<!-- ConnectionString			Database connection string -->
		<!-- User						The ID of the user to log into the application -->
		<!-- Password					The password of the user -->
		<!-- InputFile					The directory and name of the input transactions -->
		<!-- CommitLimit				The commitlimit for the database activity -->
		<!-- ReaderLockTimeOut			The amount of time in milliseconds to hold a read lock on data -->
		<!-- WriterLockTimeOut			The amount of time in milliseconds to hold a write lock on data -->
		<!-- DatabaseCommandTimeOut		Optional - The time (in seconds) to wait for the command to execute. The default is 30 seconds. -->
		<!-- DatabaseRetryCount			Optional - The number of times to retry a database call before failing the call. The default is 4 times.-->
		<!--							This can be set to 0 if you do not want the application to attempt to retry the call. -->
		<!-- DatabaseRetryInterval		Optional - The time (in milliseconds) to wait between retry attempts. The default is 2000 (2 seconds). -->
		<!-- AuditLoggingLevel			Optional - Identifies the message level at which logging is to begin. Valid levels are listed below. -->
		<!--							The default is Edit. -->
		<!--							Debug -->
		<!--							Information -->
		<!--							Edit -->
		<!--							Warning -->
		<!--							Error -->
		<!--							Severe -->
		<!-- EndSuffix					The file suffix used to terminate the process.  -->
		<!-- CreateOnModify				Identifies the process is to create the header if a modify action is requested  -->
		<!--							and the header does not exist -->
		<!-- AutoAddCharacteristics		Optional - Indicates if header characteristics that don't already exist should be added to the system. Default = False. -->
    <!-- GenerateHeaderID		      Optional - A value of 'True' provides support for generating header IDs for transactions where Header ID is missing. Default = false. -->
    <!-- HeaderIdSequenceLength		Optional - Indicates the length of the sequence number appended to generated header IDs. Default = 5. -->
    <!-- HeaderIdDelimiter    		Optional - Indicates the delimiter to use between fields when constructing the header ID. Default = "-" (dash). -->


    <add key="InputFile" value="C:\Logility\RO\Batch\transactions\HeaderLoad_TestCharAutoAdd.xml"/>
		<add key="UpdateStyleDescription" value="False"/>
    <add key="CreateOnModify" value="True"/>
    <add key="GenerateHeaderID" value="False"/>
    <add key="AutoAddCharacteristics" value="True"/>
    <add key="HeaderIdSequenceLength" value="5"/>
    <add key="HeaderIdDelimiter" value="_"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
