<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<customErrors mode="off"/>
	</system.runtime.remoting>

	<appSettings file="C:\Program Files\MIDRetail\MIDSettings.config">
		<!-- ================ -->
		<!-- ================ -->
		<!-- STARTUP SETTINGS -->
		<!-- ================ -->
		<!-- ================ -->
		
		<!-- Common settings can be found in MIDSettings.config.  To override the value in MIDSettings.config -->
		<!-- simply include the key with the new value in this config file. -->

		<!-- =============================== -->
		<!-- Header Service Configuration -->	
		<!-- =============================== -->
		
		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- MyPort						Indicates the port where the Header Server is communicating. -->
		<!-- ReaderLockTimeOut			The amount of time in milliseconds to hold a read lock on data -->
		<!-- WriterLockTimeOut			The amount of time in milliseconds to hold a write lock on data -->
		<!-- DatabaseCommandTimeOut		Optional - The time (in seconds) to wait for the command to execute. The default is 30 seconds. -->
		<!-- DatabaseRetryCount			Optional - The number of times to retry a database call before failing the call. The default is 4 times.-->
		<!--							This can be set to 0 if you do not want the application to attempt to retry the call. -->
		<!-- DatabaseRetryInterval		Optional - The time (in milliseconds) to wait between retry attempts. The default is 2000 (2 seconds). -->
		<!-- AuditLoggingLevel			Optional - Identifies the message level at which logging is to begin. Valid levels are listed below. -->
		<!--							The default is Edit. -->
		<!--							Debug -->
		<!--							Information -->
		<!--							Edit -->
		<!--							Warning -->
		<!--							Error -->
		<!--							Severe -->
		
		<add key="MyPort" value="8092"/>
		<add key="ReaderLockTimeOut" value="10000"/>
		<add key="WriterLockTimeOut" value="10000"/>
		
	</appSettings>
</configuration>
