<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.runtime.remoting>
		<customErrors mode="off"/>
	</system.runtime.remoting>

	<appSettings file="C:\Logility\RO\MIDSettings.config">
		<!-- ================ -->
		<!-- ================ -->
		<!-- STARTUP SETTINGS -->
		<!-- ================ -->
		<!-- ================ -->

		<!-- =============================== -->
		<!-- Store Service Configuration -->	
		<!-- =============================== -->
		
		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- MyPort						Indicates the port where the Hierarchy Server is communicating. -->
		<!-- ReaderLockTimeOut			The amount of time in milliseconds to hold a read lock on data -->
		<!-- WriterLockTimeOut			The amount of time in milliseconds to hold a write lock on data -->
		
		<add key="MyPort" value="8087"/>

		<!-- ==================== -->
		<!-- ==================== -->
		<!-- ==================== -->
		<!-- DATABASE CONNECTIONS -->
		<!-- ==================== -->
		<!-- ==================== -->
	
		<!-- ========== -->
		<!-- SQL Server -->
		<!-- ========== -->

		<add key="ConnectionString" value="server=bgls2;database=midjohn;uid=sa;pwd=bglssa;"/>

	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
