
--dv =============================================
--dv Create date: 9/30/2014
--dv Description: Returns 1 if Workspace Filter procedure exists, else returns 0
--dv =============================================
CREATE PROCEDURE [dbo].[MID_DOES_WF_PROCEDURE_EXIST]
	@WF_NAME varchar(1000)
AS
BEGIN
	SET NOCOUNT ON;

	IF EXISTS (select * from dbo.sysobjects where id = object_id(@WF_NAME) and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	BEGIN
		SELECT 1 AS DOES_WF_EXIST
	END
	ELSE
	BEGIN
		SELECT 0 AS DOES_WF_EXIST
	END

END
GO
