--dv =============================================
--dv Create date:	10/23/2014
--dv Description:	Reads the product hierarchy RID for the main organizational hierarchy
--dv =============================================
CREATE PROCEDURE [dbo].[MID_PRODUCT_HIERARCHY_READ_ORGANIZATIONAL_RID] 
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		ph.PH_RID
	FROM PRODUCT_HIERARCHY ph WITH (NOLOCK)
	WHERE PH_TYPE=800000

END
GO