--dv =============================================
--dv Created date:   10/24/2014
--dv Description:    Returns default header columns, but no header rows for the AWS and allocate task list
--dv =============================================
CREATE PROCEDURE [dbo].[MID_FILTER_DEFAULT_AWS]
	@HN_RID_OVERRIDE int = -1,
	@USE_WORKSPACE_FIELDS bit = 0
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @eHeaderType_MultiHeader INT = 800734;
	DECLARE @eHeaderType_Assortment INT = 800739;
	DECLARE @eHeaderType_Placeholder INT = 800740;
	DECLARE @eAssortmentType_GroupAllocation INT = 3;
	DECLARE @eHeaderAllocationStatus_Released INT = 802709;
	DECLARE @eHeaderAllocationStatus_ReleasedApproved INT = 802710;
	DECLARE @eHeaderAllocationStatus_ReceivedOutofBalance INT = 802700;
	DECLARE @eHeaderAllocationStatus_InUseByMultiHeader INT = 802702;
	
	
	DECLARE @HDR_RIDS AS HDR_RID_TYPE;
	
	--For the default filter, not returning any headers, just the columns

	
	IF (@USE_WORKSPACE_FIELDS = 1)
	BEGIN
		SELECT * FROM [dbo].[UDF_HEADER_READ_FOR_WORKSPACE] (@HDR_RIDS)
	END
	ELSE
	BEGIN
		SELECT * FROM [dbo].[UDF_HEADER_READ_FOR_TASKLIST] (@HDR_RIDS)
	END
	
END
GO