<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <appSettings>
    <add key="GlobalPlanFilePath" value="\\midretail14\MIDRetail\Development\Unit Testing Plans\"/>
    <add key="GlobalTemplateFilePath" value="\\midretail14\MIDRetail\Development\SQL Templates\"/>
    <add key="DefaultEnvironment" value="TQA"/>
  </appSettings>
</configuration>
