<?xml version="1.0"?>
<configuration>
  <appSettings file="C:\SCMVS2010\Working 5.2 Fixes - Delete Stores\DataCommon\MIDSettings.config">
    <!-- ===================== -->
    <!-- ===================== -->
    <!-- HeaderExpand SETTINGS -->
    <!-- ===================== -->
    <!-- ===================== -->

    <!-- KEY						  DESCRIPTION -->
    <!-- ===              =========== -->
    <!-- HeadersToExpand  A list of headers to expand separated by a semicolin (;) -->

    <add key="ConnectionString" value="server=midretail29;database=DotsProdDev;uid=sa;pwd=Midsa1;"/>

  </appSettings>
</configuration>
