<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="C:\MIDRetail\MIDSettings.config">
		<!-- ====================== -->
		<!-- ====================== -->
		<!-- PURGE STARTUP SETTINGS -->
		<!-- ====================== -->
		<!-- ====================== -->
		
		<!-- Common settings can be found in MIDSettings.config.  To override the value in MIDSettings.config -->
		<!-- simply include the key with the new value in this config file. -->

		<!-- ====================== -->
		<!-- Services Configuration -->	
		<!-- ====================== -->

		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- ControlServer				Indicates the IP Address and port where the Control Server is listening.  The Control -->
		<!--							Server will return a Client, Store, Hierarchy, and Application Server where remote -->
		<!--							sessions can be created.  If this key is not assigned, all sessions will be created -->
		<!--							locally (in the address space of the client) -->
		<!-- LocalStoreServer			"True" or "Yes" indicate the Store Session is to be created locally -->
		<!-- LocalHierarchyServer		"True" or "Yes" indicate the Hierarchy Session is to be created locally -->
		<!-- LocalApplicationServer		"True" or "Yes" indicate the Application Session is to be created locally -->
		<!-- ConnectionString			Database connection string -->
		<!-- User						The ID of the user to log into the application -->
		<!-- Password					The password of the user -->
		<!-- CommitLimit				The commitlimit for the database activity -->
		<!-- DaysToKeepAudit			The number of days to keep audit history -->
		<!-- ConcurrentProcesses		Optional - This is a tuning option.  It identifies the number of concurrent rollup -->  
		<!--							database transaction.  The default is 5. -->
		<!-- DeleteUsers				Optional - Identifies if users marked for delete are to be deleted.  The default is false. -->
		<!-- DaysToKeepDeletedUsers		Optional - The number of days to keep deleted users before they are removed.  The default is 30 days. -->
		<!-- DeleteGroups				Optional - Identifies if groups marked for delete are to be deleted.  The default is false. -->
		<!-- DaysToKeepDeletedGroups	Optional - The number of days to keep deleted groups before they are removed.  The default is 30 days. -->
		<!-- ReaderLockTimeOut			The amount of time in milliseconds to hold a read lock on data -->
		<!-- WriterLockTimeOut			The amount of time in milliseconds to hold a write lock on data -->
		<!-- DatabaseCommandTimeOut		Optional - The time (in seconds) to wait for the command to execute. The default is 30 seconds. -->
		<!-- DatabaseRetryCount			Optional - The number of times to retry a database call before failing the call. The default is 4 times.-->
		<!--							This can be set to 0 if you do not want the application to attempt to retry the call. -->
		<!-- DatabaseRetryInterval		Optional - The time (in milliseconds) to wait between retry attempts. The default is 2000 (2 seconds). -->
		<!-- PurgeRowsWithAllZeros		Optional - This flag identifies if the process is to cleanup data rows with all zeros. -->
		<!--							This operation will affect the overall run time of the process.  The default is false. -->
    <!-- DeleteEmptyStoreSets		Optional - Purge will attempt to delete empty dynamic store sets. The default is true. -->
		
		<add key="DaysToKeepAudit" value="30"/>
		<add key="DaysToKeepCompletedSchedules" value="10"/>
		<add key="CommitLimit" value="100000"/>
    <add key="PurgeRowsWithAllUnlocked" value="True"/>
    <add key="PurgeRowsWithAllZeros" value="True"/>
		
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
