<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings file="C:\MIDRetail\MIDSettings.config">
      <add key="SchedulerInterfacePath" value="C:\MIDRetail\Batch\ScheduleInterface.exe"/>
      <add key="JobsList" value="C:\MIDRetailData\apiUnitTest.txt"/>
      <add key="TextCodeList" value="C:\MIDRetailData\API_TEXT_CODES.txt"/>
      <add key="Delimiter" value=","/>
      <add key="WaitPeriod" value="5000"/>
      <add key="RollupWait" value="1000"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
