<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding sendTimeout="00:20:00" receiveTimeout="00:20:00" closeTimeout="00:05:00" openTimeout="00:05:00" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <appSettings file="C:\Logility\RO\MIDSettings.config">
    <add key="GraphicsDirectory" value="C:\Logility\RO\Client\Graphics" />
  </appSettings>
  <log4net>

    <logger name="RO Web">
      <level value="INFO" />
      <!--<appender-ref ref="RollingLogFileAppender"/>-->
    </logger>

    <!-- Define some output appenders -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="C:\Logility\RO\RO Web Service\ROWebHost.txt" />
      <!-- Log file output file -->
      <appendToFile value="false" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="500KB" />
      <!-- Log size -->
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level 
		The following levels are defined in order of increasing priority: 
		ALL, DEBUG,INFO, WARN, ERROR, FATAL, OFF -->
    <root>
      <!--<level value="ALL" />-->
      <level value="DEBUG" />
      <!--<level value="INFO" />-->
      <!--<level value="WARN" /> -->
      <!--<level value="ERROR" /> -->
      <!--<level value="FATAL" /> -->
      <!--<level value="OFF" /> -->
      <appender-ref ref="RollingLogFileAppender" />
      <!--Multiple appenders can be added here. The same in the next section -->
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
