<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="C:\Logility\RO\MIDSettings.config">
    <!-- ================================ -->
    <!-- ================================ -->
    <!-- Relieve Headers STARTUP SETTINGS -->
    <!-- ================================ -->
    <!-- ================================ -->
    <!-- Common settings can be found in MIDSettings.config.  To override the value in MIDSettings.config -->
    <!-- simply include the key with the new value in this config file. -->
    <!-- ====================== -->
    <!-- Services Configuration -->
    <!-- ====================== -->
    <!-- KEY                      DESCRIPTION -->
    <!-- ===                      =========== -->
    <!-- HeaderSQL                Contains the SQL query to retrieve the headers that should be relieved. -->
    <!--                          The query must return "HeaderID" and "ProductID" -->
    <!-- RelieveIntransitFilePath The directory where the files are to be written -->
    <!-- RelieveIntransitFile     The root to use for the file name -->
    <!-- HeadersPerFile           The number of headers to be written to each file -->
    <!-- FlagFileSuffix           The suffix to use for the flag file -->

    <!-- Get all released workup buy headers that have either been shipped or release for more than 3 days -->
    <add key="HeaderSQL" value="C:\Logility\RO\Batch\RelieveHeaders.sql"/>
    <add key="RelieveIntransitFilePath" value="C:\Logility\ROData\Relieve Intransit\"/>
    <add key="RelieveIntransitFile" value="RelieveIntranist"/>
    <add key="HeadersPerFile" value="100"/>
    <add key="FlagFileSuffix" value="trg"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
