<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- ============================ -->
		<!-- ============================ -->
		<!-- Copy Release SETTINGS -->
		<!-- ============================ -->
		<!-- ============================ -->

		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- BuildFolder				Default location for builds -->
		<!-- ReleaseFolder  			Default location for releases -->
		<!-- ReleaseFolderRoot  		Root name for release folder -->
		<!-- ClientFileLocation  		The location of the client file -->
		
		<add key="BuildFolder" value="C:\scmvs2017\build"/>
		<add key="ReleaseFolderRoot" value="Logility-RO"/>
		<add key="Repository" value="\\Midretail14\MIDRetail"/>
		<add key="ClientFileLocation" value="\\Midretail14\MIDRetail\Clients.xml"/>
    <add key="WindowsDll" value="MIDRetail.Windows.dll"/>
    <add key="ComputationsDll" value="MIDRetail.ForecastComputations.dll"/>
    <add key="InstallerCommandFile" value="C:\scmvs2017\build\MIDAdvInstaller\Installer.cmd"/>
    <add key="SignCommandFile" value="C:\scmvs2017\build\CopyRelease\files_sign.cmd"/>
    <add key="SignLocation" value="C:\Temp\Installer"/>
    <add key="32BitZip" value="C:\Program Files\WinZip\winzip32.EXE"/>
    <add key="32BitZipOn64Bit" value="C:\Program Files (x86)\WinZip\winzip32.EXE"/>
    <add key="64BitZip" value="C:\Program Files\WinZip\winzip64.EXE"/>
    <add key="StartingClient" value="Base 21.02"/>
    <add key="piso" value="C:\Program Files (x86)\PowerISO\piso.exe"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
