<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="buildpath" value="C:\Temp\Installer" />
    <Add key="batchpath" value="C:\Temp\Installer\Batch" />
    <add key="certpath" value="C:\scmvs2017\build\midretailinccert2018.pfx" />
    <add key="dsm" value="C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\x64\ildasm.exe" />
  </appSettings>
</configuration>
