<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--<appSettings>-->
    <appSettings file="C:\Logility\RO\MIDSettings.config">
		<!-- ============================ -->
		<!-- ============================ -->
		<!-- Configuration Installer SETTINGS -->
		<!-- ============================ -->
		<!-- ============================ -->

		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- RestorePriorEntries		This identifies if the prior selected databases are to be reselected -->
		<!-- AllowIgnoreErrors			This identifies if the utility is allow to ignore database errors -->
		<!-- KeyFile					The name of the licence key file -->
		<!-- InstallFile				The name of the new install file -->
		<!-- TextFile					The name of the text file -->
		<!-- DefaultsFile				The name of the defaults file -->

		<!-- The following settings are used to filter the entries. -->
		<!-- Values are separated with commas and asterisk (*) is used as a wildcard. -->
		<!-- IncludeServers				The mask(s) to use to filter the servers -->
		<!-- IncludeDatabases			The mask(s) to use to filter the servers -->
		
		<!-- The following settings are used to configure a new database schema. -->
		<!-- File group names must match the file groups in the database. -->
		<!-- 							  -->
		<!-- NoDataTables				The number of history and forecast data tables -->
		<!-- 							The default is 10.  -->
		<!-- AllocationFileGroup		The file group to use for Allocation data tables.  -->
		<!-- 							The default is ALLOCATION.  -->
		<!-- ForecastFileGroup			The file group to use for Forecast data tables -->
		<!-- 							The default is FORECAST.  -->
		<!-- HistoryFileGroup			The file group to use for weekly history tables -->
		<!-- 							The default is HISTORY.  -->
		<!-- NoHistoryFileGroup			The number of file groups to use for weekly history tables -->
		<!-- 							The default is 2.  -->
		<!-- DailyHistoryFileGroup		The file group to use for daily history tables -->
		<!-- 							The default is DAILYHISTORY.  -->
		<!-- NoDailyHistoryFileGroup	The number of file groups to use for daily history tables -->
		<!-- 							The default is 2.  -->
		<!-- AuditFileGroup				The file group to use for audit tables -->
		<!-- 							The default is AUDIT.  -->
		<!-- WeekArchiveFileGroup		The file group to use for Weekly Color Size History BIN table -->
		<!-- 							The default is WEEKARCHIVE.  -->
		<!-- DayArchiveFileGroup		The file group to use for Daily Color Size History BIN table -->
		<!-- 							The default is DAYARCHIVE.  -->
    <!-- SupportedSQLVersions   The versions of SQL supported. Be specific or abbreviate and seperate them with a semicolon-->
    <!-- SupportedSQLVersions   The editions of SQL supported. Be specific and seperate them with a semicolon-->
    
		<add key="RestorePriorEntries" value="false"/>
		<add key="AllowIgnoreErrors" value="false"/>
		<add key="KeyFile" value="KeyFile.txt"/>
    
		<add key="IncludeServers" value=""/>
		<add key="IncludeDatabases" value=""/>
		
		<add key="DatabaseCommandTimeOut" value="3000"/>

    <add key="AllowUserKeying" value="false"/>

    <add key="SupportedSQLVersions" value="10.0;10.5;11.0;12.0;13.0;14.0"/>
    <add key="SupportedSQLEditions" value="Enterprise;Standard"/>
    
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
