<appSettings>
  <!-- ======================= -->
  <!-- MIDRetail Configuration -->
  <!-- ======================= -->

  <!-- KEY						DESCRIPTION -->
  <!-- ===                        =========== -->
  <!-- MIDEnvironment				Indicates the purpose for the installation.  Examples are "prod", "test", "acceptance". -->
  <!--							This setting must be different for each installation on a machin.  -->
  <!-- ControlServer				Indicates the IP Address and port where the Control Server is listening.  The Control -->
  <!--							Server will return a Client, Store, Hierarchy, and Application Server where remote -->
  <!--							sessions can be created.  If this key is not assigned, all sessions will be created -->
  <!--							locally (in the address space of the client) -->
  <!-- ClientCommandsControlServiceName				The hostname of the control server, required for Remote System Options. -->
  <!-- ClientCommandsControlServicePort				The Remote System Options port to use on the control server, must be different than the control server port. -->
  <!-- ClientCommandsTimerInterval				The time (in milliseconds) to wait between receiving commands from the control server, required for Remote System Options. -->
  <!-- ServerCommandsTimerInterval				The time (in milliseconds) to wait between receiving commands from the client apps, required for Remote System Options. -->
  <!-- LocalStoreServer			"True" or "Yes" indicate the Store Session is to be created locally -->
  <!-- LocalHierarchyServer		"True" or "Yes" indicate the Hierarchy Session is to be created locally -->
  <!-- LocalApplicationServer		"True" or "Yes" indicate the Application Session is to be created locally -->
  <!-- User						The ID of the user to log into the application with -->
  <!-- Password					The password of the user -->
  <!-- Delimiter					If the InputFile is delimited, indicates the character used to separate -->
  <!--							each field in the transaction. -->
  <!-- CommitLimit				The commit limit for the database activity.  Use "UNLIMITED" for a single database transaction. -->
  <!-- ReaderLockTimeOut			The amount of time in milliseconds to hold a read lock on data -->
  <!-- WriterLockTimeOut			The amount of time in milliseconds to hold a write lock on data -->
  <!-- DatabaseCommandTimeOut		Optional - The time (in seconds) to wait for the command to execute. The default is 30 seconds. -->
  <!-- DatabaseRetryCount			Optional - The number of times to retry a database call before failing the call. The default is 4 times.-->
  <!--							This can be set to 0 if you do not want the application to attempt to retry the call. -->
  <!-- DatabaseRetryInterval		Optional - The time (in milliseconds) to wait between retry attempts. The default is 2000 (2 seconds). -->
  <!-- MaximumBalanceAttempts		Optional - The number of times to attempt balancing before failing. The default is 5 times.-->
  <!-- AuditLoggingLevel			Optional - Identifies the message level at which logging is to begin. Valid levels are listed below. -->
  <!--							The default is Edit. -->
  <!--							Debug -->
  <!--							Information -->
  <!--							Edit -->
  <!--							Warning -->
  <!--							Error -->
  <!--							Severe -->
  <!-- AutoUpgradeClient			Optional - Identifies if the application should check for a different version on start.  The default is false. -->
  <!-- AutoUpgradePath			Identifies the path to locate the client to be used for the upgrade -->
  <!-- ServiceRetryCount			Optional - The number of times to retry a MID Service call before failing the call. The default is 4 times.-->
  <!--							This can be set to 0 if you do not want the application to attempt to retry the call. -->
  <!-- ServiceRetryInterval		Optional - The time (in milliseconds) to wait between retry attempts. The default is 2000 (2 seconds). -->

  <add key="ForecastComputationsVersion" value="None"/>
  <add key="ConcurrentProcesses" value="1"/>
  <!-- <add key="MIDOnlyFunctions" value="True"/> -->
  <add key="MIDEnvironment" value="Technical Dev 21.01"/>
  <!--<add key="MIDEnvironment" value="Butterfly"/>-->
  <add key="IncludeEnvironmentOnStatus" value="True"/>
  <add key="AutoUpgradeClient" value="False"/>
  <!--add key="ControlServer" value="localhost:8086"/> -->
  <add key="LocalHierarchyServer" value="True"/>
  <add key="LocalStoreServer" value="True"/>
  <add key="LocalApplicationServer" value="True"/>

  <add key="HeaderReleaseFilePath" value="C:\Logility\RO\Release"/>
  <add key="AutoUpgradePath" value="C:\Logility\RO\Client"/>
  <add key="HeaderProcessingKeysFile" value="C:\Logility\RO\Batch\HeaderKeys.txt"/>

  <add key="User" value="administrator"/>
  <add key="Password" value="administrator"/>

  <add key="Delimiter" value=","/>

  <add key="ReportPath" value="C:\Logility\RO\Reports"/>
  <add key="IncludeEnvironmentOnStatus" value="True" />

  <add key="RemoteOptions_ServerName" value="localhost"/>
  <add key="RemoteOptions_ServerPort" value="8090"/>
  <add key="RemoteOptions_ClientInterval" value="3000"/>
  <add key="RemoteOptions_ServerInterval" value="3000"/>
  <!--add key="AuditLoggingLevel" value="Severe"/> -->

  <!-- ====================== -->
  <!-- Export Method Settings -->
  <!-- ====================== -->

  <add key="Export_FileFormat" value="CSV"/>
  <!-- <add key="Export_File_Format" value="XML"/> -->
  <add key="Export_CSVDelimeter" value=","/>
  <add key="Export_CSVFileSuffix" value="csv"/>
  <!-- <add key="Export_DateType" value="Calendar"/> -->
  <add key="Export_DateType" value="Fiscal"/>
  <add key="Export_PreinitValues" value="False"/>
  <add key="Export_ExcludeZeroValues" value="False"/>
  <add key="Export_FilePath" value="C:\Logility\RO\Client\ExportOutput"/>
  <add key="Export_AddDateStampToFileName" value="False"/>
  <add key="Export_AddTimeStampToFileName" value="False"/>
  <add key="Export_SplitFiles" value="None"/>
  <!-- <add key="Export_SplitFiles" value="Merchandise"/> -->
  <!-- <add key="Export_SplitFiles" value="NumberOfEntries"/> -->
  <add key="Export_SplitNumberOfEntries" value="10000"/>
  <add key="Export_ConcurrentProcesses" value="10"/>
  <add key="Export_CreateFlagFile" value="False"/>
  <add key="Export_FlagFileSuffix" value="flg"/>
  <add key="Export_CreateEndFile" value="False"/>
  <add key="Export_EndFileSuffix" value="end"/>


  <!-- ==================== -->
  <!-- ==================== -->
  <!-- DATABASE CONNECTIONS -->
  <!-- ==================== -->
  <!-- ==================== -->

  <!-- ========== -->
  <!-- SQL Server -->
  <!-- ========== -->

  <!-- SQL Server authentication -->
  <!--<add key="ConnectionString" value="server=servername;database=databasename;uid=username;pwd=password;"/>-->
  <!--<add key="ConnectionString" value="server=RO2WEBNRF;database=ROV1803_DEV_BE003_JS_ASSRT;uid=RODB;pwd=ROsaMaster1$;"/>-->
  <!--<add key="ConnectionString" value="server=RO2WEBNRF;database=Butterfly_0;uid=RODB;pwd=ROsaMaster1$;"/>-->
  <add key="ConnectionString" value="server=HICBEL146776;database=ROV1803_DEV4;uid=sa;pwd=Welcome123"/>
  <!--<add key="ConnectionString" value="server=12-rodb-14;database=BUTTERFLY_JS;uid=sa;pwd=Midsa1;"/>-->
  <!-- Windows authentication -->
  <!-- <add key="ConnectionString" value="server=servername;database=databasename;Integrated Security=SSPI;"/> -->

</appSettings>
