<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <!--application file names -->
    <add key="ClientNames" value="MIDRetail.exe;"/>
    <add key="ControlServiceNames" value="MIDRetailControlService.exe;"/>
    <add key="StoreServiceNames" value="MIDRetailStoreService.exe;"/>
    <add key="MerchandiseServiceNames" value="MIDRetailHierarchyService.exe;"/>
    <add key="JobServiceNames" value="MIDRetailJobService.exe;" />
    <add key="ROWebServiceNames" value="ROWebHost.exe;" />
    <add key="SchedulerServiceNames" value="MIDRetailSchedulerService.exe;"/>
    <add key="ApplicationServiceNames" value="MIDRetailApplicationService.exe;"/>
    <add key="ConfigurationFileName" value="MIDSettings.config;"/>
    <add key="APIName" value="API;Batch;HierarchyLoad.exe"/>
    <add key="ComputationsDll" value="MIDRetail.ForecastComputations.dll"/>
    
    <!--application install information -->
    <add key="EXCLUDE" value="C:\windows;Documents and Settings;C:\Users;C:\inetpub;C:\$Recycle.Bin;install"/>
    <add key="WINDOWS_INSTALL" value="windows"/>
    <add key="DEFAULT_INSTALL" value="mid"/>
    <add key="PERSONAL_DIR" value="Documents and Settings"/>
    <add key="PROGRAMS_DIR" value="program files"/>
    <add key="APPLICATION_ICON" value="Graphics\MIDRetail.ico"/>
    <add key="Client_Folder" value="Client"/>
    <add key="Client_Graphics_Folder" value="Graphics"/>
    <add key="EncryptedFields" value="ConnectionString;User;Password;ROExtractConnectionString"/>
    <add key="EncryptedMaxFieldSize" value="1000"/>
    <add key="SupportedFrameworkVersions" value="4.5.1;4.5.2;4.6;4.7"/>
    <add key="SupportedSQLVersions" value="10.0;10.5;11.0;12.0;13.0;14.0"/>
    <add key="SupportedSQLEditions" value="Enterprise;Standard"/>
    <add key="SupportedWindowsClientVersions" value="WindowsXP;WindowsServer2008;Windows7;WindowsServer2008R2;Windows8;WindowsServer2012;WindowsServer2016"/>
    <add key="SupportedWindowsServerVersions" value="WindowsXP;WindowsServer2008;Windows7;WindowsServer2008R2;Windows8;WindowsServer2012;WindowsServer2016"/>

    <!--configuration file names -->
    <add key="MIDSettings_config" value="MIDSettings.config"/>
    <add key="MIDRetail_config" value="MIDRetail.exe.config"/>

    <!--defaults -->
    <add key="InstallClientFolder" value="Client"/>
    <add key="InstallApplicationServiceFolder" value="Application Service"/>
    <add key="InstallControlServiceFolder" value="Control Service"/>
    <add key="InstallMerchandiseServiceFolder" value="Hierarchy Service"/>
    <add key="InstallJobServiceFolder" value="Job Service" />
    <add key="InstallROWebServiceFolder" value="RO Web Service" />
    <add key="InstallStoreServiceFolder" value="Store Service"/>
    <add key="InstallSchedulerServiceFolder" value="Scheduler Service"/>
    <add key="InstallAPIFolder" value="Batch"/>
    <add key="ClientInstallLocation" value="C:\Logility\RO"/>
    <add key="ServicesInstallLocation" value="C:\Logility\RO"/>
    <add key="ServicesConfigurationLocation" value="C:\Logility\RO\"/>
    <add key="ClientConfigurationLocation" value="C:\Logility\ROClient\Client\GlobalSettings"/>
    <add key="ClientConfigurationShareLocation" value="\\%machine%\LogilityROClient\Client\GlobalSettings"/>
    <add key="AutoUpgradeClientLocation" value="C:\Logility\ROClient\Client\AutoUpgrade"/>
    <add key="AutoUpgradeShareLocation" value="\\%machine%\LogilityROClient\Client\AutoUpgrade"/>
    <add key="ShareName" value="LogilityROClient"/>
    <add key="SharePath" value="C:\Logility\ROClient"/>
    <add key="ShortcutName" value="Logility - RO"/>
    <add key="UpgradeFilesLocation" value="C:\Logility\ROUpgrade"/>
    <add key="ReleaseLocation" value="C:\Logility\ROData\Release"/>
    <add key="ReleaseShareLocation" value="\\%machine%\LogilityRODataRelease"/>
    <add key="ReleaseShareName" value="LogilityRODataRelease"/>
    <add key="ExportLocation" value="C:\Logility\ROData\Export"/>
    <add key="ExportShareLocation" value="\\%machine%\LogilityRODataExport"/>
    <add key="ExportShareName" value="LogilityRODataExport"/>
    <!--BEGIN TT#3428-M-VStuart-Add Interface Files subdirectories in MIDRetailData-MID -->
    <add key="DataDirectoriesLocation" value="C:\Logility\ROData"/>
    <add key="DataDirectories" value="Alternate Hierarchy|Alternate Reclass|Color|Daily History|Daily Intransit|Headers|Hierarchy|Hierarchy Reclass|Release|Relieve Intransit|Size|Store Attributes|Stores|Weekly History|Header Reconcile|HierarchyLevelMaint|Product Characteristics"/>
    <!--END TT#3428-M-VStuart-Add Interface Files subdirectories in MIDRetailData-MID -->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
