<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings file="C:\Logility\RO\MIDSettings.config">
		<!-- ================================== -->
		<!-- ================================== -->
		<!-- CHAIN FORECASTING STARTUP SETTINGS -->
		<!-- ================================== -->
		<!-- ================================== -->
		
		<!-- Common settings can be found in MIDSettings.config.  To override the value in MIDSettings.config -->
		<!-- simply include the key with the new value in this config file. -->

		<!-- ====================== -->
		<!-- Services Configuration -->	
		<!-- ====================== -->

		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- ControlServer			Indicates the IP Address and port where the Control Server is listening.  The Control -->
		<!--						Server will return a Client, Store, Hierarchy, and Application Server where remote -->
		<!--						sessions can be created.  If this key is not assigned, all sessions will be created -->
		<!--						locally (in the address space of the client) -->
		<!-- LocalStoreServer			"True" or "Yes" indicate the Store Session is to be created locally -->
		<!-- LocalHierarchyServer		"True" or "Yes" indicate the Hierarchy Session is to be created locally -->
		<!-- LocalApplicationServer		"True" or "Yes" indicate the Application Session is to be created locally -->
		<!-- ConnectionString			Database connection string -->
		<!-- User				The ID of the user to log into the application -->
		<!-- Password				The password of the user -->
		<!-- ReaderLockTimeOut			The amount of time in milliseconds to hold a read lock on data -->
		<!-- WriterLockTimeOut			The amount of time in milliseconds to hold a write lock on data -->
		<!-- DatabaseCommandTimeOut		Optional - The time (in seconds) to wait for the command to execute. The default is 30 seconds. -->
		<!-- DatabaseRetryCount			Optional - The number of times to retry a database call before failing the call. The default is 4 times.-->
		<!--						This can be set to 0 if you do not want the application to attempt to retry the call. -->
		<!-- DatabaseRetryInterval		Optional - The time (in milliseconds) to wait between retry attempts. The default is 2000 (2 seconds). -->
		<!-- AuditLoggingLevel			Optional - Identifies the message level at which logging is to begin. Valid levels are listed below. -->
		<!--						The default is Edit. -->
		<!--						Debug -->
		<!--						Information -->
		<!--						Edit -->
		<!--						Warning -->
		<!--						Error -->
		<!--						Severe -->
		<!-- ConcurrentProcesses	Optional - This is a tuning option.  It identifies the number of concurrent processes. -->  
		<!--						The default is 5. -->

    <add key="ConcurrentProcesses" value="1"/>
		
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
