CREATE FUNCTION [dbo].[UDF_HIERARCHY_READ_FOR_SEARCH] 
(	
	@NODE_LIST NODE_TYPE READONLY
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT DISTINCT
	hn.HN_RID,
	ph.PH_RID,
	PH_ID as 'Hierarchy', 	
	(SELECT [dbo].[UDF_MID_GET_NODE_DISPLAY] (hn.HN_RID)) as 'Merchandise',
	CASE 
	WHEN HN_TYPE=800203 THEN --Build Color Node Display ID
		--(SELECT [dbo].[UDF_HIERARCHY_BUILD_COLOR_NODE_DISPLAY_ID](phl.PHL_DISPLAY_OPTION_ID, cc.COLOR_CODE_ID, cc.COLOR_CODE_NAME, cn.COLOR_DESCRIPTION) FROM [dbo].[COLOR_NODE] cn (NOLOCK) INNER JOIN [dbo].[COLOR_CODE] cc (NOLOCK) on cc.COLOR_CODE_RID=cn.COLOR_CODE_RID WHERE cn.HN_RID=q1.HN_RID) 
		--(SELECT cc.COLOR_CODE_ID FROM COLOR_NODE cn WITH (NOLOCK) INNER JOIN COLOR_CODE cc WITH (NOLOCK) on cc.COLOR_CODE_RID=cn.COLOR_CODE_RID WHERE cn.HN_RID=hn.HN_RID)
		cc.COLOR_CODE_ID
	WHEN HN_TYPE=800204 THEN --Build Size Node Display ID
		--(SELECT [dbo].[UDF_HIERARCHY_BUILD_SIZE_NODE_DISPLAY_ID](phl.PHL_DISPLAY_OPTION_ID, sc.SIZE_CODE_ID, sc.SIZE_CODE_PRIMARY, sc.SIZE_CODE_SECONDARY) FROM [dbo].[SIZE_NODE] sn (NOLOCK) INNER JOIN [dbo].[SIZE_CODE] sc (NOLOCK) on sc.SIZE_CODE_RID=sn.SIZE_CODE_RID WHERE sn.HN_RID=q1.HN_RID) 
		--(SELECT  sc.SIZE_CODE_ID FROM SIZE_NODE sn WITH (NOLOCK) INNER JOIN SIZE_CODE sc WITH (NOLOCK) on sc.SIZE_CODE_RID=sn.SIZE_CODE_RID WHERE sn.HN_RID=hn.HN_RID)
		sc.SIZE_CODE_ID
	WHEN HN_TYPE=800200 THEN --Build Base Node Display ID
	    --(SELECT [dbo].[UDF_HIERARCHY_BUILD_BASE_NODE_DISPLAY_ID](phl.PHL_DISPLAY_OPTION_ID, bn.BN_ID, bn.BN_NAME, bn.BN_DESCRIPTION) AS NODE_DISPLAY_ID FROM [dbo].[BASE_NODE] bn (NOLOCK) WHERE bn.HN_RID=q1.HN_RID)
		--(SELECT bn.BN_ID FROM BASE_NODE bn WITH (NOLOCK) WHERE bn.HN_RID=hn.HN_RID)
		bn.BN_ID
	ELSE 		
		bn.BN_ID
	END AS 'ID',

	CASE 
	WHEN HN_TYPE=800203 THEN --Build Color Node Display ID
		--(SELECT [dbo].[UDF_HIERARCHY_BUILD_COLOR_NODE_DISPLAY_ID](phl.PHL_DISPLAY_OPTION_ID, cc.COLOR_CODE_ID, cc.COLOR_CODE_NAME, cn.COLOR_DESCRIPTION) FROM [dbo].[COLOR_NODE] cn (NOLOCK) INNER JOIN [dbo].[COLOR_CODE] cc (NOLOCK) on cc.COLOR_CODE_RID=cn.COLOR_CODE_RID WHERE cn.HN_RID=q1.HN_RID) 
		--(SELECT cc.COLOR_CODE_NAME FROM COLOR_NODE cn WITH (NOLOCK) INNER JOIN COLOR_CODE cc WITH (NOLOCK) on cc.COLOR_CODE_RID=cn.COLOR_CODE_RID WHERE cn.HN_RID=hn.HN_RID)
		cc.COLOR_CODE_NAME
	WHEN HN_TYPE=800204 THEN --Build Size Node Display ID
		--(SELECT [dbo].[UDF_HIERARCHY_BUILD_SIZE_NODE_DISPLAY_ID](phl.PHL_DISPLAY_OPTION_ID, sc.SIZE_CODE_ID, sc.SIZE_CODE_PRIMARY, sc.SIZE_CODE_SECONDARY) FROM [dbo].[SIZE_NODE] sn (NOLOCK) INNER JOIN [dbo].[SIZE_CODE] sc (NOLOCK) on sc.SIZE_CODE_RID=sn.SIZE_CODE_RID WHERE sn.HN_RID=q1.HN_RID) 
		(
			--SELECT  
				CASE 
				WHEN sc.SIZE_CODE_PRIMARY IS NOT NULL AND RTRIM(sc.SIZE_CODE_PRIMARY) != '' THEN
					CASE WHEN sc.SIZE_CODE_SECONDARY IS NOT NULL AND RTRIM(sc.SIZE_CODE_SECONDARY) != '' AND RTRIM(sc.SIZE_CODE_SECONDARY) != 'No Secondary Size' AND RTRIM(sc.SIZE_CODE_SECONDARY) != 'None' THEN
						RTRIM(sc.SIZE_CODE_PRIMARY) + RTRIM(sc.SIZE_CODE_SECONDARY)
					ELSE
						RTRIM(sc.SIZE_CODE_PRIMARY)
					END
				WHEN sc.SIZE_CODE_SECONDARY IS NOT NULL AND RTRIM(sc.SIZE_CODE_SECONDARY) != '' AND RTRIM(sc.SIZE_CODE_SECONDARY) != 'No Secondary Size' AND RTRIM(sc.SIZE_CODE_SECONDARY) != 'None' THEN
					sc.SIZE_CODE_SECONDARY
				ELSE --both primary and secondary are null, so set name to id
					sc.SIZE_CODE_ID
				END
			--FROM SIZE_NODE sn WITH (NOLOCK) 
			--INNER JOIN SIZE_CODE sc WITH (NOLOCK) on sc.SIZE_CODE_RID=sn.SIZE_CODE_RID 
			--WHERE sn.HN_RID=hn.HN_RID
		)
	WHEN HN_TYPE=800200 THEN --Build Base Node Display ID
	    --(SELECT [dbo].[UDF_HIERARCHY_BUILD_BASE_NODE_DISPLAY_ID](phl.PHL_DISPLAY_OPTION_ID, bn.BN_ID, bn.BN_NAME, bn.BN_DESCRIPTION) AS NODE_DISPLAY_ID FROM [dbo].[BASE_NODE] bn (NOLOCK) WHERE bn.HN_RID=q1.HN_RID)
		--(SELECT bn.BN_NAME FROM BASE_NODE bn WITH (NOLOCK) WHERE bn.HN_RID=hn.HN_RID)
		bn.BN_NAME
	ELSE 		
		bn.BN_NAME
	END AS 'Name',

	CASE 
	WHEN HN_TYPE=800203 THEN --Build Color Node Display ID
		--(SELECT [dbo].[UDF_HIERARCHY_BUILD_COLOR_NODE_DISPLAY_ID](phl.PHL_DISPLAY_OPTION_ID, cc.COLOR_CODE_ID, cc.COLOR_CODE_NAME, cn.COLOR_DESCRIPTION) FROM [dbo].[COLOR_NODE] cn (NOLOCK) INNER JOIN [dbo].[COLOR_CODE] cc (NOLOCK) on cc.COLOR_CODE_RID=cn.COLOR_CODE_RID WHERE cn.HN_RID=q1.HN_RID) 
		--(SELECT cc.COLOR_CODE_ID FROM COLOR_NODE cn WITH (NOLOCK) INNER JOIN COLOR_CODE cc WITH (NOLOCK) on cc.COLOR_CODE_RID=cn.COLOR_CODE_RID WHERE cn.HN_RID=hn.HN_RID)
		cn.COLOR_DESCRIPTION
	WHEN HN_TYPE=800204 THEN --Build Size Node Display ID
		--(SELECT [dbo].[UDF_HIERARCHY_BUILD_SIZE_NODE_DISPLAY_ID](phl.PHL_DISPLAY_OPTION_ID, sc.SIZE_CODE_ID, sc.SIZE_CODE_PRIMARY, sc.SIZE_CODE_SECONDARY) FROM [dbo].[SIZE_NODE] sn (NOLOCK) INNER JOIN [dbo].[SIZE_CODE] sc (NOLOCK) on sc.SIZE_CODE_RID=sn.SIZE_CODE_RID WHERE sn.HN_RID=q1.HN_RID) 
		--(SELECT  sc.SIZE_CODE_ID FROM SIZE_NODE sn WITH (NOLOCK) INNER JOIN SIZE_CODE sc WITH (NOLOCK) on sc.SIZE_CODE_RID=sn.SIZE_CODE_RID WHERE sn.HN_RID=hn.HN_RID)
		''
	WHEN HN_TYPE=800200 THEN --Build Base Node Display ID
	    --(SELECT [dbo].[UDF_HIERARCHY_BUILD_BASE_NODE_DISPLAY_ID](phl.PHL_DISPLAY_OPTION_ID, bn.BN_ID, bn.BN_NAME, bn.BN_DESCRIPTION) AS NODE_DISPLAY_ID FROM [dbo].[BASE_NODE] bn (NOLOCK) WHERE bn.HN_RID=q1.HN_RID)
		--(SELECT bn.BN_ID FROM BASE_NODE bn WITH (NOLOCK) WHERE bn.HN_RID=hn.HN_RID)
		bn.BN_DESCRIPTION
	ELSE 		
		bn.BN_DESCRIPTION
	END AS 'Description',

	phl.PHL_ID AS 'Level',
	
	CASE WHEN coalesce(hn.ACTIVE_IND, 1)=1 THEN
		'Y'
	ELSE
		'N'
	END AS 'Active',

	hcg.HCG_ID AS 'Characteristic',
	hc.HC_ID AS 'Characteristic Value'

	FROM @NODE_LIST nodes
	INNER JOIN HIER_NODE_JOIN hnj WITH (NOLOCK) ON hnj.HN_RID = nodes.HN_RID AND hnj.PH_RID=nodes.PH_RID
	INNER JOIN HIERARCHY_NODE hn WITH (NOLOCK) ON hn.HN_RID = hnj.HN_RID
	INNER JOIN PRODUCT_HIERARCHY ph WITH (NOLOCK) ON ph.PH_RID = hnj.PH_RID
	INNER JOIN PRODUCT_HIERARCHY_LEVELS phl WITH (NOLOCK) ON phl.PH_RID=hn.HOME_PH_RID AND phl.PHL_SEQUENCE=hn.HOME_LEVEL
	LEFT OUTER JOIN BASE_NODE bn WITH (NOLOCK) ON bn.HN_RID = hn.HN_RID
	LEFT OUTER JOIN COLOR_NODE cn WITH (NOLOCK) ON cn.HN_RID = hn.HN_RID --hidden colors were already excluded
	LEFT OUTER JOIN COLOR_CODE cc WITH (NOLOCK) ON cc.COLOR_CODE_RID=cn.COLOR_CODE_RID
	LEFT OUTER JOIN SIZE_NODE sn WITH (NOLOCK) ON sn.HN_RID = hn.HN_RID --hidden sizes were already excluded
	LEFT OUTER JOIN SIZE_CODE sc WITH (NOLOCK) ON sc.SIZE_CODE_RID = sn.SIZE_CODE_RID
	LEFT OUTER JOIN HIER_CHAR_JOIN hcj WITH (NOLOCK) ON hcj.HN_RID = hn.HN_RID
	LEFT OUTER JOIN HIER_CHAR hc WITH (NOLOCK) ON hc.HC_RID = hcj.HC_RID
	LEFT OUTER JOIN HIER_CHAR_GROUP hcg WITH (NOLOCK) ON hcg.HCG_RID = hc.HCG_RID

)
GO