<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <appSettings file="C:\MIDRetail\MIDSettings.config">
    <!-- ================================== -->
    <!-- ================================== -->
    <!-- HIERARCHY RECLASS STARTUP SETTINGS -->
    <!-- ================================== -->
    <!-- ================================== -->

    <!-- Common settings can be found in MIDSettings.config.  To override the value in MIDSettings.config -->
    <!-- simply include the key with the new value in this config file. -->

    <!-- KEY                            DESCRIPTION -->
    <!-- ===                            =========== -->
    <!-- InputDirectory                 Optional - Identifies the default input directory.  This directory will be used if not specified on the command line. -->
    <!-- OutputDirectory                Optional - Identifies the default output directory.  This directory will be used if not specified on the command line. -->
    <!-- Delimiter                      Optional - Identifies the field delimiter of the input file.  The default is "~". -->
    <!-- TriggerSuffix                  Optional - Identifies the suffix of the input and output trigger file.  If TriggerSuffix is not specified, all files in -->
    <!--                                the InputDirectory will be read as input and no trigger file will be created for the output file. -->
    <!-- ReclassMoveTriggerSuffix       Optional - Identifies the suffix of the reclass move output trigger file.  If ReclassMoveTriggerSuffix is not specified, -->
    <!--                                the TriggerSuffix value will be used. -->
    <!-- ReclassDeleteTriggerSuffix     Optional - Identifies the suffix of the reclass delete output trigger file.  If ReclassDeleteTriggerSuffix is not specified, -->
    <!--                                the TriggerSuffix value will be used. -->
    <!-- MaximumRecordsPerOutputFile    Optional - Identifies the number of records written to the output file before a new one is created. Specifying 0 indicates -->
    <!--                                there is no limit. The default is 30000. -->
    <!-- AllowDeletes                   Optional - Indicates if Hierarchy Reclass should create Delete transactions or not. The default is "true". -->

    <add key="InputDirectory" value="C:\MIDRetailData\Hierarchy Reclass"/>
    <add key="OutputDirectory" value="C:\MIDRetailData\Hierarchy"/>
    <add key="Delimiter" value="~"/>
    <add key="TriggerSuffix" value="trg"/>
    <add key="ReclassMoveTriggerSuffix" value="movtrg"/>
    <add key="ReclassDeleteTriggerSuffix" value="deltrg"/>
    <add key="MaximumRecordsPerOutputFile" value="30000"/>
    <add key="AllowDeletes" value="False"/>

 </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
