<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- ============================ -->
		<!-- ============================ -->
		<!-- Configuration Installer SETTINGS -->
		<!-- ============================ -->
		<!-- ============================ -->

		<!-- KEY						DESCRIPTION -->
		<!-- ===                        =========== -->
		<!-- KeyFile					The name of the licence key file -->
		<!-- ConnectionString			Database connection string -->
		
		<add key="KeyFile" value="KeyFile.txt"/>
			
		<!-- ==================== -->
		<!-- ==================== -->
		<!-- DATABASE CONNECTIONS -->
		<!-- ==================== -->
		<!-- ==================== -->
	
		<!-- ========== -->
		<!-- SQL Server -->
		<!-- ========== -->

		<!-- SQL Server authentication -->
		<add key="ConnectionString" value="server=servername;database=databasename;uid=username;pwd=password;"/>
		<!-- Windows authentication -->
		<!-- <add key="ConnectionString" value="server=servername;database=databasename;Integrated Security=SSPI;"/> -->

	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
